:3334 {
    proxy / prometheus:9090 {
            transparent
        }

    errors stderr
    tls off
}

:3335 {
    proxy / alertmanager:9093 {
            transparent
        }

    errors stderr
    tls off
}

:3336 {
    proxy / pushgateway:9091 {
            transparent
        }

    errors stderr
    tls off
}

:3333 {
    proxy / grafana:3000 {
            transparent
            websocket
        }

    errors stderr
    tls off
}
